nav{background-color:#333; width: 100%; height: 56px; line-height: 56px;}
.divider{
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
  	background-color: #e0e0e0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
footer.page-footer{
	 margin-top: 0px;
  	padding-top: 20px;
  	background-color:  #333;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 20px;
  min-height: 410px;
  max-height: 410px;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
  padding-top: 0;
}



.blog h3{
  position: absolute;
  font-size: 80px;
  top: 20%;
  left: 20%;
  right: 20%;
  font-weight: 1000;
}

* { box-sizing: border-box; }




.carousel .carousel-isi{
	width: 100%;
	height: 100%;
	min-height: 400px;
	position: relative;
	top: 0;
	left: 0;
}
.carousel .carousel-isi .konten{
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
}

@media (min-width: 1000px){
	.carousel .carousel-isi h3 {
	  font-size: 70px;
	  font-weight: 600;
	  line-height: 32px;
	  position: relative;
	}

	.carousel .carousel-isi p {
	  font-size: 23px;
	  position: relative;
	  top:40px;
    margin-bottom: 30px;
    line-height: 40px;
	}

  .carousel .carousel-isi .konten{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
  }

  .carousel .carousel-isi a{
    position: relative;
  }

}


@media (max-width: 1000px) and (min-width: 800px){
  .carousel .carousel-isi h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
  }

  .carousel .carousel-isi p {
    font-size: 20px;
    position: relative;
    top:20px;
    margin-bottom: 20px;
    line-height: 40px;
  }

  .carousel .carousel-isi .konten{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
  }

  .carousel .carousel-isi a{
    position: relative;
  }

}



@media (max-width: 800px){
	.carousel .carousel-isi h3 {
	  font-size: 40px;
	  font-weight: 600;
	  line-height: 32px;
	  position: relative;
    margin-bottom: 0;
    margin-top: 0;
	}

	.carousel .carousel-isi p {
	  font-size: 15px;
	  position: relative;
	  top: 10px;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 0;
	}

  .carousel .carousel-isi .konten{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
  }
}

.carousel-cell {
  width: 100%;
  height:100%;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 100%;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 80%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}

.title
{
    font-family: BebasNeue;
	letter-spacing: 3px;
	font-weight:bold;
	text-transform:uppercase;
}

.secondary-title{
	letter-spacing: 3px;
	text-transform:uppercase;
	font-weight:thin;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 30%;               
  background-color:#000;
  height: 2px;
}


/*carousel yg cara*/
@media (min-width: 992px){
  .carousel .carousel-isi .row .col h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    margin-right: 5%;
    margin-top: 8%;
  }

  .carousel .carousel-isi .row .col p {
    font-size: 20px;
    position: relative;
    margin-right: 15%;
    margin-left: 8%;
    line-height: 40px;
  }
}


@media (max-width: 992px) and (min-width: 568px){
  .carousel .carousel-isi .row .col h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    position: relative;
      margin-right: 5%;
    margin-top: 8%;
  }

  .carousel .carousel-isi  .row .col p {
    font-size: 18px;
    position: relative;
    top:20px;
    margin-top: 8%;
    margin-right: 15%;
    margin-left: 8%;
    line-height: 24px;
    margin-bottom: 14%
  }
}

@media (max-width: 568px){
  .carousel .carousel-isi .row .col  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    margin-bottom: 10%;
    margin-top: 0;
  }

  .carousel .carousel-isi .row .col  p {
    font-size: 15px;
    position: relative;
    top: 10px;
    line-height: 28px;
    margin-bottom: 10%;
    margin-top: 0;
  }
}
